<h2>User List</h2>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th> Name </th>
            <th> Username </th>
            <th> Role </th>
            <th> Active </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td> {{ user.name }} </td>
            <td> {{ user.username }} </td>
            <td> {{ user.role }} </td>
            <td> {{ user.active }} </td>
            <td>
                <button (click) = "userDetails(user.userId)" class="btn btn-success"> View </button>
                <button (click) = "updateUser(user.userId)" class="btn btn-info"  style="margin-left: 10px"> Edit </button>         
            </td>
        </tr>
    </tbody>
</table>