<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: rgb(241, 223, 223);" href="#">Library Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a routerLink="/books" routerLinkActive="active" class="nav-link" *ngIf="userService.roleMatch(['Admin'])">Book List</a>
          </li>

          <li class="nav-item">
            <a routerLink="/create-book" routerLinkActive="active" class="nav-link" *ngIf="userService.roleMatch(['Admin'])">Add Book</a>
          </li>

          <li class="nav-item">
            <a routerLink="/users" routerLinkActive="active" class="nav-link" *ngIf="userService.roleMatch(['Admin'])">User List</a>
          </li>

          <li class="nav-item">
            <a routerLink="/register-user" routerLinkActive="active" class="nav-link" *ngIf="userService.roleMatch(['Admin'])">Register User</a>
          </li>

        </ul>
        <button *ngIf="!isLoggedIn()" type="button" class="btn btn-success" routerLink="/login">Login</button>
        <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>
    <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div><a class="nav-link navbar-brand disabled" style="color: rgb(241, 223, 223);">Library Management System</a></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/books" routerLinkActive="active" class="nav-link">Book List</a>
          </li>
          <li class="nav-item">
            <a routerLink="/create-book" routerLinkActive="active" class="nav-link">Add Book</a>
          </li>
          <li class="nav-item">
            <a routerLink="/users" routerLinkActive="active" class="nav-link">User List</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register-user" routerLinkActive="active" class="nav-link">Register User</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link" *ngIf="isLoggedIn()">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="/logout" class="nav-link" *ngIf="isLoggedIn()">Logout</a>
          </li>
        </ul>
      </nav> -->
</header>